/* global.css */
@import url('https://fonts.googleapis.com/css2?family=VCR+OSD+Mono&display=swap');

:root {
  --primary-orange: #E4572E;
  --secondary-yellow: #F3A712; 
  --background-blue: #8EB1C7;
  --dark-bg: #161A1D;
}

body {
  background-color: var(--background-blue);
  font-family: 'VCR OSD Mono', monospace;
}

.page-title {
  color: var(--primary-orange);
  font-size: 40px;
  font-weight: 400;
}

.card-title {
  color: var(--secondary-yellow);
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
}

.card-subtitle {
  color: var(--secondary-yellow);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
